<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        background-color: lightgray;
      }
      .messagearea {
        padding-top: 20px;
      }
      button:active {
        color: black;
        background-color: white;
      }
      /* iPhone Portrait */
      @media screen and (min-width: 390px) {
        .messagearea {
          width: 376px;
          height: 300px;
          padding: 12px 12px;
          box-sizing: border-box;
          border: 2px solid green;
          border-radius: 4px;
          font-size: 16px;
        }
        textarea {
          width: 355px;
          height: 20px;
          padding: 1px 3px;
          box-sizing: border-box;
          border: 2px solid black;
          border-radius: 4px;
          background-color: #f8f8f8;
          font-size: x-small;
        }
        .qrcodearea {
          display: flex;
    justify-content: center;
    padding-top: 3%;
        }
        .messagebuttonarea {
          display: grid;
          grid-template-rows: 50% 50%;
          align-items: center;
          justify-content: center;
          padding-top: 1%;
  }
        button {
          color: white;
          background-color: black;
        }
        button#share {
          font-size: x-large;
          border-radius: 25px;
          /*padding: 8px 10px;*/
          border: 2px solid black;
          width: 380px;
          margin-top: 80%;
        }

        button#button {
          font-size: x-large;
          border-radius: 25px;
          /*padding: 8px 10px;*/
          border: 2px solid black;
          width: 380px;
          margin-top: 20px;
        }
      }
      /* iPhone Landscape */
@media screen and (min-width: 926px) {
  .messagearea {
    width: 910px;
    height: 390px;
    padding-top: 30px;
  }

  textarea {
    width: 880px;
    height: 40px;
    padding: 10px 10px;
    font-size: 16px;
  }

  .qrcodearea {
    display: flex;
    justify-content: center;
    padding-top: 3%;
  }

  .messagebuttonarea {
          display: grid;
          grid-template-rows: 50% 50%;
          align-items: center;
          justify-content: center;
          padding-top: 1%;
  }
        button {
          color: white;
          background-color: black;
        }
        button#share {
          font-size: x-large;
          border-radius: 25px;
          /*padding: 8px 10px;*/
          border: 2px solid black;
          width: 600px;
          margin-top: 5%;
        }

        button#button {
          font-size: x-large;
          border-radius: 25px;
          /*padding: 8px 10px;*/
          border: 2px solid black;
          width: 600px;
          margin-top: 20px;
        }
}
      /* iPad Portrait */
      @media screen and (min-width: 810px) and (max-width: 810px) {
  .messagearea {
    width: 790px;
    height: 390px;
    padding-top: 30px;
  }

  textarea {
    width: 760px;
    height: 40px;
    padding: 10px 10px;
    font-size: 16px;
  }

  .qrcodearea {
    display: flex;
    justify-content: center;
    padding-top: 5%;
  }

  .messagebuttonarea {
          display: grid;
          grid-template-rows: 50% 50%;
          align-items: center;
          justify-content: center;
          padding-top: 1%;
  }
        button {
          color: white;
          background-color: black;
        }
        button#share {
          font-size: x-large;
          border-radius: 25px;
          /*padding: 8px 10px;*/
          border: 2px solid black;
          width: 600px;
          margin-top: 80%;
        }

        button#button {
          font-size: x-large;
          border-radius: 25px;
          /*padding: 8px 10px;*/
          border: 2px solid black;
          width: 600px;
          margin-top: 20px;
        }
}
      /* iPad Landscape */
      @media screen and (min-width: 1080px) {
  .messagearea {
    width: 1065px;
    height: 390px;
    padding-top: 30px;
  }

  textarea {
    width: 1040px;
    height: 40px;
    padding: 10px 10px;
    font-size: 16px;
  }

  .qrcodearea {
    display: flex;
    justify-content: center;
    padding-top: 3%;
  }

  .messagebuttonarea {
          display: grid;
          grid-template-rows: 50% 50%;
          align-items: center;
          justify-content: center;
          padding-top: 1%;
  }
        button {
          color: white;
          background-color: black;
        }
        button#share {
          font-size: x-large;
          border-radius: 25px;
          /*padding: 8px 10px;*/
          border: 2px solid black;
          width: 600px;
          margin-top: 30%;
        }

        button#button {
          font-size: x-large;
          border-radius: 25px;
          /*padding: 8px 10px;*/
          border: 2px solid black;
          width: 600px;
          margin-top: 20px;
        }
}
@media (min-width: 1200px) {
  .box {
    display: flex;
    justify-content: center;
    padding-top: 100px;
  }

  .messagearea {
    display: grid;
    grid-template-rows: 10% 20% 60%;
    align-items: center;
    padding-top: 10px;
  }

  textarea {
    width: 1040px;
    height: 40px;
    padding: 12px 12px;
    font-size: 16px;
  }

  .messagebuttonarea {
          display: grid;
          grid-template-rows: 50% 50%;
          align-items: center;
          justify-content: center;
          padding-top: 1%;
  }
        button {
          color: white;
          background-color: black;
        }
        button#share {
          font-size: x-large;
          border-radius: 25px;
          /*padding: 8px 10px;*/
          border: 2px solid black;
          width: 600px;
          margin-top: 30%;
        }

        button#button {
          font-size: x-large;
          border-radius: 25px;
          /*padding: 8px 10px;*/
          border: 2px solid black;
          width: 600px;
          margin-top: 20px;
        }
}
    </style>
    <title>Landing</title>
  </head>
  <body>
    <h1>Success</h1>
    <div class="box">
      <div class="messagearea">
        <p>Burner message available on link:</p>
        <textarea id="url" rows="1" cols="29" readonly><%= burnLink %></textarea>
        <div class="qrcodearea">
          <img
            src="<%= burnQr %>"
          />
        </div>
      </div>
    </div>
    <div class="messagebuttonarea">
      <button onclick="myFunction('share')" id="share">
        Share URL (iOS/MacOS) 📲
      </button>
      <button onclick="myFunction('clip')" id="button">
        Copy URL To Clipboard 📋
      </button>
    </div>
    <script>
      const shareData = {
        title: "Burn Link",
        text: "Burner Link",
        url: "<%= burnLink %>",
      };

      const btn = document.getElementById("share");
      const resultPara = document.getElementById("url");

      btn.addEventListener("click", async () => {
        try {
          await navigator.share(shareData);
          resultPara.textContent = "Burner Link shared successfully";
        } catch (err) {
          resultPara.textContent = "Error: " + err;
        }
      });
      function myFunction(link) {
        if (link === "clip") {
          const copyText = document.getElementById("url");

          copyText.select();
          copyText.setSelectionRange(0, 99999);

          navigator.clipboard.writeText(copyText.value);

          document.getElementById("button").textContent =
            "Copy URL To Clipboard ✅";

          setTimeout(function () {
            document.getElementById("button").textContent =
              "Copy URL To Clipboard 📋";
          }, 2000);
        } else if (link === "share") {
          document.getElementById("share").textContent = "Share URL (iOS/MacOS) ✅";

          setTimeout(function () {
            document.getElementById("share").textContent = "Share URL (iOS/MacOS) 📲";
          }, 1000);
        }
      }
    </script>
  </body>
</html>