<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        background-color: lightgray;
      }
      .messagearea {
        display: flex;
        justify-content: center;
        padding-top: 20px;
      }
      a {
        text-decoration: none;
        color: #000;
      }
      a:visited {
        text-decoration: none;
        color: #000;
      }
      a:active{
        color: white;
        background-color: black;
      }
      a:hover {
        text-decoration: underline;
      }
      /* iPhone Portrait */
      @media screen and (min-width: 428px) {
        textarea {
          width: 412px;
          height: 400px;
          padding: 12px 20px;
          box-sizing: border-box;
          border: 2px solid green;
          border-radius: 4px;
          background-color: #f8f8f8;
          font-size: 16px;
        }
        .gohome {
          display: flex;
          justify-content: center;
          padding-top: 70px;
        }
        a {
            border-radius: 25%;
            font-size: x-large;
        }
      }
         /* iPhone Landscape */
@media screen and (min-width: 926px) {
  .messagearea {
    width: 910px;
    height: 390px;
    padding-top: 10px;
  }

  textarea {
    width: 880px;
    height: 400px;
    padding: 10px 10px;
    font-size: 16px;
  }

  .qrcodearea {
    display: flex;
    justify-content: center;
    padding-top: 3%;
  }

  .messagebuttonarea {
    padding-top: 5%;
  }

  button.submit {
    font-size: xx-large;
    border-radius: 25px;
    padding: 8px 10px;
    border: 2px solid black;
    width: 80%;
  }
}
      /* iPad Landscape */
      @media screen and (min-width: 1080px) {
  .messagearea {
    width: 1065px;
    height: 390px;
    padding-top: 30px;
  }

  textarea {
    width: 1040px;
    height: 400px;
    padding: 10px 10px;
    font-size: 16px;
  }

  .qrcodearea {
    display: flex;
    justify-content: center;
    padding-top: 3%;
  }

  .messagebuttonarea {
    padding-top: 20%;
  }

  button.submit {
    font-size: xx-large;
    border-radius: 25px;
    padding: 8px 10px;
    border: 2px solid black;
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .box {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }

  .messagearea {
    display: flex;
    justify-content: center;
    /*padding-top: 10px;*/
  }

  textarea {
    width: 1150px;
    height: 400px;
    padding: 12px 12px;
    font-size: 16px;
  }

  .messagebuttonarea {
    display: flex;
    justify-content: center;
    /*padding-top: 10%;*/
    padding-top: 10%;
  }

  button#button {
    font-size: x-large;
    border-radius: 25px;
    /*padding: 8px 10px;*/
    border: 2px solid black;
    width: 900px;
  }
}
    </style>
    <title>BurnMessage Not Found</title>
  </head>
  <body>
    <h1>Fail</h1>
    <div class="box">
    <div class="messagearea">
      <textarea id="message" readonly>
Message never existed or was burned already.
</textarea
      >
    </div>
    </div>
    <div class="gohome">
      <a href="/">Go Home</a>
    </div>
  </body>
</html>